* {
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: rgb(241, 240, 240);
}

a, ul, ol, li {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

.wrapper {
    text-align: center;
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#map {
  height: 100%;
  width: 100%;
}

.legend {
    display: grid;
    grid-template-columns: 80px 100px;
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.layersgroup {
    display: flex;
    margin-bottom: 5px;
}